<div>
  <h1 id="titulo">CADASTRO DE FUNCIONARIO</h1>
  <p id="subtitulo"><strong>INSIRA AS INFORMAÇÕES DO FUNCIONÁRIO</strong> </p>
</div>
<form action="/add" method="POST">
  <fieldset class="cadastro">
    <div class="campo">
      <label for="name"><strong>Nome:</strong></label>
      <input type="text" name="nome" placeholder="Digite o nome" required>
    </div>
    <div class="campo">
      <label for="cpf"><strong>CPF:</strong></label>
      <input type="number" name="cpf" placeholder="Digite o CPF" required>
    </div>
    <div class="campo">
      <label for="telefone"><strong>Telefone:</strong></label>
      <input type="number" name="telefone" placeholder="Digite o telefone" required>
    </div>
    <div class="campo">
      <label for="foto"><strong>Foto:</strong></label>
      <input type="file" name="foto" accept="image/*">
    </div>
    <button type=" submit" class="botao">Registrar</button>
  </fieldset>
</form>