#titulo {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  }
  
  #subtitulo {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 13%;
  color: black;
  }
  
  body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
  
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  fieldset {
  border-color: black;
  background-color: lightblue;
  }
  input,
  select,
  textarea,
  button {
  font-size: 1em;
  color: black;
  border-radius: 5px;
  }
  fieldset.cadastro .campo {
  margin-top: 5px;
  }
  .botao {
  margin-top: 1cm;
  margin-left: 8cm;
  border-color: black;
  background-color: red;
  }
  